.cards{
   overflow: scroll;
   height: 100%;
   padding: 1rem;
   display: flex;
   flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10rem;
   gap: 1rem;
   .card{
   max-width: 22rem;
padding: 1rem;

background-color: #292929;
border-radius: 0.75rem;
color: rgb(209, 208, 208);
display: flex;
flex-direction: column;
gap: 0.5rem;
    img{
        
        width: 100%;
      
        object-fit: cover;
        border-radius: 10px;
    }
    h1{
        font-size: 1.25rem;
        // margin-top: 0.75rem;
        font-weight: 500;
    }
    .description{
        opacity: 0.8;
        word-spacing: 0.3rem;
        line-height: 1rem;
    }
    .tags{
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        .tag{
            background-color: #1e1e1e;
            padding: 0.25rem 0.75rem;
            border-radius: 9999px;
            font-size: 0.75rem;
            opacity: 0.8;
        }
    }
    .links{
        display: flex;
        gap: 0.5rem;
        a{
            background-color: #1e1e1e;
            padding: 0.25rem 0.75rem;
            border-radius: 9999px;
            font-size: 0.75rem;
            opacity: 0.8;
        }
    }
}}